.DS_Store
.env
.env.local
.env.development
.env.production
node_modules/

# React Router
/.react-router/
/build/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Local Netlify folder
.netlify
.playwright-mcp
